$gray-medium-light: #eaeaea;
$gray-light: #777;
$white: #fff;
$gray: #555;
$gray-darker: #222;
$gray-lighter: #eeeeee;
$red: rgb(255,0,0);
$danger-text: #a94442;
$green-light: rgba(18, 206, 162, 0.73);
